<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RESTful back-end home</title>
</head>
<body>
  <header>
    <h1>RESTful back-end home</h1>
  </header>
  <p>Placeholder for our RESTful back-end. You probably want one of these routes:</p>
  <ul>
    <li><a href="/minimal/sayHello">Say Hello</a> (no variables)</li>
    <li><a href="/minimal/sayHelloParam/John">Say Hello with URL Params</a> (pass variables in the URL itself, /sayHelloParam/John)</li>
    <li><a href="/minimal/sayHelloQuery?name=John">Say Hello with a Query String</a> (pass variables as a query string, /sayHelloQuery?name=John)</li>
  </ul>

  <p>But you might want movie routes:</p>
  <ul>
    <li><a href="/api/v1/movies/">GET movies/</a></li>
  </ul>
</body>
</html>